.nav {
    max-width: 55rem;
    margin: 0 auto;
    padding: 0rem 1rem 1rem 1rem;
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e4e4e4;
}

.nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
}

.nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1.5px 0.2rem;
    padding: 1.2rem 0;
    width: 10rem;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
}
.nav ul li a.active {
    border-bottom: 2px solid #666;
}
.nav ul li a img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.nav ul li a span {
    font-family: 'Noto Sans KR', sans-serif;
}
