* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Do Hyeon", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(
    to right top,
    #ffaf0390,
    #ff3d3090,
    #ef038d90,
    #b404f190
  ); */
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
